# OS Files
*.Zone.Identifier
.DS_Store

# Environment Variables
.env
.env.local
.env.*.local

# IDE and Editor Files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Project Directories
/investutil-front/
/investutil-back/
/investutil-infra/
/investutil-gocrawler/